*.swp
__pycache__
.pytest_cache
.venv
*.egg-info
nice_assignment/__pycache__
lambda/local_runner.py
lambda/__pycache__
response.json

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json