*.swp
__pycache__
.pytest_cache
.venv
*.egg-info
response.json
invoke.log
source.bat

objects.txt
function-error.txt

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json
cdk-outputs.json